.content {
  display: grid;
  margin: 48px 16px 0 16px;
  grid-template-areas: 'code' 'md';
}

@media (min-width: 576px) and (max-width: 921.9px){
}

@media (min-width: 922px){
  .content{
    grid-template-columns: repeat(15, 1fr);
    grid-template-areas: 'nav nav nav . code code code code code code code . md md md';
    margin: 48px 32px 0 32px;
  }

  .content .nav {
    display: block;
  }
}
