.editor-codigo {
  grid-area: code;
}

#codigo {
  outline: none;
  background-color: var(--black);
  color: var(--white);
  width: 90%;
  height: auto;
  padding: 15px;
  border: none;
  resize: none;
  margin: auto;
  overflow: hidden;
  font-size: 14px;
}

.borda-interna {
  border-radius: 10px;
  background-color: var(--black);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  padding: 5px;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
  overflow: hidden;
}

.borda-interna img{
  margin: 16px 0 24px 16px;
}

.borda-externa {
  background-color: #6bd1ff;
  border-radius: 10px;
  padding: 32px;
}

.highlight-button {
  margin-top: 32px;
}