body {
  background-color: var(--dark-blue);
  font-family: 'Inter', sans-serif;
}

.header {
  height: 56px;
  margin: 32px 16px 0 16px;
  background: var(--dark-blue);
  display: grid;
  grid-template-areas: 'lg . . lupa hamburguer' ;
  align-items: center;
}

.header .logo {
  grid-area: lg;
}

.header .busca {
  display: none;
  grid-area: bs;
}

.header .usuario {
  display: none;
  grid-area: usr;
  justify-content: flex-end;
}

.header .lupa {
  margin-right: 0;
  grid-area: lupa;
}

.header .hamburguer {
  grid-area: hamburguer;
}

@media (min-width: 576px) and (max-width: 921.9px){
  .header {
    grid-template-areas: 'lg bs bs hamburguer' ;
  }

  .header .lupa {
    display: none;
  }

  .header .busca {
    display: inline-block;
  }
}

@media (min-width: 922px){
  .header {
    grid-template-columns: repeat(15, 1fr);
    grid-template-areas: 'lg lg lg . bs bs bs bs bs bs bs . usr usr usr' ;
    margin: 32px 32px 0 32px;
  }

  .header .lupa, .header .hamburguer {
    display: none;
  }

  .header .busca {
    display: inline-block;
  }

  .header .usuario {
    display: flex;
  }
}