:root {
  --white: #fff;
  --dark-blue: #051D3B;
  --inside-input: #2d415a;
  --placeholder: #a2acb7;
  --blue-100: #96B9FD;
  --blue-200: #7BA4FC;
  --blue-300: #5081FB;
  --desktop-main-width: 752px;
}

.input {
  border: none;
  background: var(--inside-input);
  border-radius: 5px;
  color: var(--placeholder);
}

.svg-button {
  background-color: transparent;
  border: none;
}

.title-font {
  font-size: 21px;
  line-height: 31px;
}

.sidebar-title-font {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.4em;
  text-transform: uppercase;
}

.body-font {
  font-size: 16px;
  line-height: 24px;
}
