.menu-direito {
  display: flex;
  flex-direction: column;
  grid-area: md;
  margin: 40px 0 40px 0;
  min-width: 190px;
}

.menu-direito h2 {
  color: var(--white);
}

.menu-direito h2:nth-child(4) {
  margin-top: 40px;
}

.menu-direito input{
  margin-top: 16px;
} 

.menu-direito textarea {
  margin-top: 16px;
  padding: 10px 0 0 10px;
  height: 70px;
}

.menu-direito select{
  appearance: none; 
  -webkit-appearance: none;
  width: 100%;
} 

.select-wrapper {
  position: relative;
  margin-top: 16px;
}

.select-wrapper::after {
  content: url(../img/seta-baixo.svg);
  font-size: 1rem;
  color: var(--white);
  top: 18px;
  right: 15px;
  width: 9px;
  height: 4.5px;
  position: absolute;
}

#color-picker {
  border: var(--white) 1px solid;
  background: transparent;
  width: 100%;
  padding: 8px;
}

#color-picker::-webkit-color-swatch, #color-picker::-moz-color-swatch {
  border-radius: 5px;
} 

.menu-direito button {
  margin-top: 40px;
  background-color: var(--blue-300);
  color: var(--dark-blue);
}

#descricao-projeto {
  letter-spacing: 0.001em;
}

@media (min-width: 576px) and (max-width: 921.9px){
  .personalizacao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  #color-picker {
    width: 49%
  }

  .select-wrapper {
    width: 49%
  }
}

@media (min-width: 922px){
  .menu-direito {
    margin: 0 0 0 0;
  }
}