.content .nav {
  display: none;
  color: var(--white);
  grid-area: nav;
}

.content .nav ul, .content .nav li {
  margin-top: 20px;
}

.content .nav li {
  height: 48px;
  display: flex;
  align-items: center;
}

.content .nav img {
  width: 20;
  height: 16;
}

.content .nav span {
  margin-left: 15px;
}
